html,body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  touch-action: none;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  touch-action: none;
}

#root {
  width: 100%;
  height: 100%;
}


i.plus{
  width: 100%;
  height: 100%;
  position: relative;
}
i.plus::before{
  content: '';
  position: absolute;
  width: 70%;
  background: white;
  height: 10%;
  left: 15%;
  top: 45%;
}
i.plus::after{
  content: '';
  height: 70%;
  width: 10%;
  background: white;
  position: absolute;
  top: 15%;
  left: 45%;
}

div[contenteditable=true]:empty:before{
  content: attr(placeholder);
  display: block;
  color: gray;
}